div, ul, h1, footer, button{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app{
  width: 100vw;
  min-height: 100vh;
  background: #222;
  overflow-x: hidden;
  padding-top: 32px;
}

h1, .calendar, footer{
  width: 70%;
  color: white;
}

h1{
  text-align: right;
  padding: 0 16px 8px 0;
}

.calendar{
  min-height: 70%;
}

.header{
  background: linear-gradient(to bottom, red 20%, darkred);
  list-style-type: none;
  padding: 16px 0;
  font-weight: bold;
  border-radius: 10px 10px 0 0;
}

.header li{
  flex-basis: 100%;
  text-align: center;
}

.header li:not(:last-child){
  border-right: 1px solid #fff;
}

.days{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.taskButton{
  position: fixed;
  top: 32px;
  right: 32px;
  font-size: 3rem;
  border-radius: 50%;
  z-index: 20;
  cursor: pointer;
  width: 70px;
  aspect-ratio: 1/1;
}

.notification{
  background: red;
  color: #fff;
  font-size: 1.5rem;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -5px;
}

footer{
  text-align: center;
  margin-top: 32px;
}