.day {
  border: 1px solid #222;
  aspect-ratio: 1/0.6;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
}
.day p {
  font-size: 1.3rem;
}
.day:not(.current) {
  color: #222;
}
.day div {
  color: #222;
  position: absolute;
  bottom: 2px;
  right: 2px;
}
.selectedDay {
  border: 4px solid red;
}
.current {
  background: red;
  color: #fff;
  border: 0;
}
.current div {
  color: #fff;
}
.past {
  background: linear-gradient(45deg, #aaa, #bbb, #aaa);
}
.future {
  background: #fff;
}
.none {
  background: #444;
}
.none p {
  color: transparent;
  user-select: none;
}
.day:last-child {
  border-bottom-right-radius: 10px;
}
.day:nth-last-child(7) {
  border-bottom-left-radius: 10px;
}
