.day{border: 1px solid #222; aspect-ratio: 1/0.6; cursor: pointer;}
.day p{font-size: 1.3rem; color: #222;}
.current{background: lime; color: #fff;}
.past{background: linear-gradient(45deg, #aaa, #bbb, #aaa);}
.future{background: #fff;}
.none{background: #333;}
.none p{color: #aaa;}